body {
    color: #333333;
    font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    padding-top: 8px;   
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-right: 35px; 

    
/*posiciona a sacola na direita*/
    position: absolute;
    padding-top: 8px;
    top: 0;
    right: 0;
} 


.menu-opcoes ul{
    display: inline;
    font-size: 15px;
   /*position: absolute;*/
    bottom: 0;
    right: 0;
} 


.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
   /* position: absolute;*/
        
    bottom: 0;
    right: 0; 
} 


.menu-opcoes a {
    color: #003366;
}


.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes a:hover {
    color: #007dc6;
}

.menu-opcoes a:active {
    color: #867dc6;
}

.container {
    margin: 0 auto;
    width: 940px;
}

.logotipo {
    position: relative;
    top: 20px;
    left: 50px;
}

 /*.quadrado {
    background: green;
    height: 200px;
    width: 200px;
} */

.absoluto {
    position: absolute;
    top: 20px;
    right: 30px;
}

.relativo {
    position: relative;

}

header {
    position: relative;
}


/* Formulários a partir do 4.2
2. Aplique o estilo visual do design com CSS. Queremos um fundo cinza nas caixas de busca e no menu
de departamentos. Além disso, o texto deve estar em negrito e apresentado em maiúsculas.
Aplicaremos também algumas regras de tamanhos e margens.
*/

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;

    float: left;
    clear: left;

    margin-top: 10px;
    padding-bottom: 10px;

   /* transform: rotate(-10deg);*/

}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.menu-departamentos li{
    background-color:  white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.menu-departamentos li ul {
    display: none;
}

.menu-departamentos li:hover ul {
    display: block;
}

.menu-departamentos ul ul li {
    background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
    content: '\272A';
    padding-right: 3px;
}

.painel h2::before {
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}

.menu-departamentos a:hover {
    color: #007dc6;
}

.menu-departamentos a:active {
    color: #867dc6;
}
/* 3. Na busca, use a propriedade vertical-align para alinhar o campo de texto à imagem da lupa pelo
centro. Aproveite e coloque o tamanho do campo de texto para melhor encaixar no design e use
seletores de atributo do CSS para isso (veremos mais desses seletores depois no curso).*/

.busca input {
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
    border-radius: 10px;
}

.destaque {
    margin-top: 10px;
    padding-bottom: 10px;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
   
}

.painel li:hover {
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #333;
    transition: box-shadow 0.7s;
    transform: scale(1.2) rotate(-5deg);
}
/* 
Vamos posicionar nossos painéis para ficarem de acordo com o design.
O painel de novidades deve flutuar à esquerda e o mais-vendidos , à direita. Cada um deve
ocupar 445px (pouco menos da metade dos 940px), assim um ficará ao lado do outro:
*/

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;

    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
}

.novidades {
    float: left;
    /*background-color: #f5dcdc;*/
    background: linear-gradient(#f5dcdc, #bebef4);
    
}

.mais-vendidos {
    float: right;
    /*background-color: #dcdcf5;*/
    background: linear-gradient(#dcdcf5, #f4bebe);
}

/*
Próximo passo: os itens dos produtos dentro da lista de cada painel. Queremos que sejam dispostos
lado a lado mas com certo tamanho e espaçamento para alinhamento. Conseguimos isso colocando
display:inline-block nos elementos da lista e, para alinhar os produtos pelo topo, com
vertical-align:top.
*/

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin: 2px;
    padding-bottom: 10px;
}

/*
O posicionamento em si deve estar certo. Mas falta umas regras para estilo, como tamanho dos
títulos e cores de texto e fundo.
*/

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;

     text-shadow: 3px 3px 2px #fff;
    /*text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);*/
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}


/*Estilização rodapé*/

footer  {
    background-image: url(../img/fundo-rodape.png);
    
    clear: both;
    padding: 20px 10px 10px 10px;
    
} 

footer .container {
    position: relative;
    
    
    
} 

.social {
    position: absolute;
    top: 12px;
    right: 0;

    /*transform: skewY(10deg);*/
}

.social a {
    /*tamanho da imagem */
    height: 32px;
    width: 32px;

    /* imagem replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
} 

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
    margin-right: 20px;
}


.social li {
    float: left;
   margin-left: 25px;
   margin-right: 10px;
}

.by h1 {
    margin: 10px center;
    padding: 10px;
    width: 200px;
    float: right;
    
}

.busca {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

